<?xml version="1.0"?>
<robot name="abb_irb14000" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="use_fake_hardware" default="true" />
  <xacro:arg name="rws_ip" default="None" />
  <xacro:arg name="rws_port" default="80" />

  <xacro:include filename="$(find abb_irb14000_support)/urdf/irb14000.urdf.xacro" />
</robot>